@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";



.lii{
    color: inherit;
    background-color: inherit !important;
}
.lii:hover{
    background-color: blue !important;
}

.zz{
    z-index: 999 !important;
}

/* Custom z-index for the toggle button */
.navbar-nav .toggle-button {
    z-index: 1050 !important; /* Higher than the sidebar */
  }
  
  /* Custom z-index for the sidebar */
  .custom-sidebar {
    z-index: 1040 !important; /* Lower than the toggle button but high enough to overlay other content */
  }

  

  .btn-sidebar-toggle {
    background-color: red;
    border: none;
    color: red !important;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1050; /* Same as the header toggle button */
    cursor: pointer;
  }
  
  .btn-sidebar-toggle:hover {
    color: red !important;
  }

  @media (min-width: 768px) {
    .btn-sidebar-toggle {
      display: none !important;
    }
  }
  