  .clr{
    color: darkorange;
  }
  .styl{
    width: 80% !important;
    height: 500px !important;
  }
  .styleline{
    width: 90% !important;
  }
  @media (min-width:1024px) {
    .dnn{
      display: none;
    }    
  }
  @media (max-width:600px) {
    .amt{
      font-size: 20px !important;
    }
  }
